@font-face {
    font-family: MathleteSkinny;
    src: url("../fonts/Mathlete-Skinny.otf") format("opentype");
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: MathleteSkinnySlant;
    src: url("../fonts/Mathlete-SkinnySlant.otf") format("opentype");
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: MathleteBulky;
    src: url("../fonts/Mathlete-Bulky.otf") format("opentype");
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: MathleteBulkySlant;
    src: url("../fonts/Mathlete-BulkySlant.otf") format("opentype");
    -webkit-font-smoothing: antialiased;
}